<section data-ng-controller="GameController" class="index">
  <div class="hero"></div>
  <div class="blocks">
    <div class="blocks__block">
      <div class="blocks__block--header">
        <h3>Pick From Multiple Sports!</h3>
      </div>
      <div class="blocks__block--content">
        <i class="icon ion-ios-football"></i>
        <i class="icon ion-ios-americanfootball"></i>
      </div>
    </div>
    <div class="blocks__block">
      <div class="blocks__block--header">
        <h3>Create and Join Leagues!</h3>
      </div>
      <div class="blocks__block--content">
        <i class="icon ion-ios-list"></i>
      </div>
    </div>
    <div class="blocks__block">
      <div class="blocks__block--header">
        <h3>Play Against Friends!</h3>
      </div>
      <div class="blocks__block--content">
        <i class="icon ion-ios-people"></i>
      </div>
    </div>
    <div class="blocks__block">
      <div class="blocks__block--header">
        <h3>Win Big!</h3>
      </div>
      <div class="blocks__block--content">
        <i class="icon ion-trophy"></i>
      </div>
    </div>
  </div>
</section>
