<section data-ng-controller="GameController" class="leaderboard" data-ng-init="getUser();getLeaderboard();">
  <h1>Leaderboard</h1>
  <div class="leaderboard__playerlist">
    <div class="leaderboard__header">
      <div class="header__name">Name</div>
      <div class="header__points">Points</div>
    </div>
    <div class="leaderboard__player" ng-repeat="player in leaderboard">
      <div class="player__name">{{player.User.firstName}} {{player.User.lastName}}</div>
      <div class="player__points">{{player.points}}</div>
    </div>
  </div>
</section>
