<section data-ng-controller="GameController" class="leaderboard" data-ng-init="getUser();getLeaderboard();">
  <h1>Leaderboard</h1>
  <div class="leaderboard__playerlist">
    <div class="leaderboard__header">
      <div class="header__name">Name</div>
      <div class="header__points">Points</div>
    </div>
    <div class="leaderboard__player" ng-repeat="player in leaderboard">
      <div class="player__picture">
        <img src="{{player.fb.picture.data.url}}" alt="{{player.fb.first_name}} {{player.fb.last_name}} Picture">
      </div>
      <div class="player__name">{{player.fb.first_name}} {{player.fb.last_name}}</div>
      <div class="player__points">{{player.db.points}}</div>
    </div>
  </div>
</section>
