<section data-ng-controller="LeagueController" data-ng-init="findUser()">
  <div class="league">
    <div class="league__header">
      <h1>Create League</h1>
    </div>
    <div class="league__content">
      <form class="" ng-submit="createLeague()" novalidate>
        <input placeholder="Enter League Name"
               type="text"
               ng-model="name"/>

          <button type="submit" name="button" class="league__button">
          Create New League</button>
          <div data-ng-show="error">
            <strong data-ng-bind="error"></strong>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
