<section data-ng-controller="LeagueController" data-ng-init="findUser();findLeague();findShowdowns();" class="league">
	<div class="league__header">
		<h1>{{league.name}} Week {{showdowns.showdowns.week}}</h1>
	</div>
	<div class="league__content">
		<a data-ng-href="#!/league/{{league._id}}">
			<button class="league__button">{{league.name}} Home Page</button>
		</a>
		<h2>Showdowns</h2>
		<div class="league__list">
			<ul>
				<li data-ng-repeat="showdown in showdowns">
          <a href="#!/league/{{league._id}}/showdowns/{{showdown.showdowns.week}}/{{showdown.showdowns.showdownNum}}">
          Week {{showdown.showdowns.week}} <br>
          P1: {{showdown.showdowns.competitors[0].user_id.username}} <br>
          P2: {{showdown.showdowns.competitors[1].user_id.username}}
          </a>
				</li>
			</ul>
		</div>
	</div>
</section>
