<section data-ng-controller="LeagueController" data-ng-init="findUser();findLeague();findMembers();" class="league">
	<div class="league__header">
		<h1>{{league.name}} Members</h1>
	</div>
	<div class="league__content">
		<a data-ng-href="#!/league/{{league._id}}">
			<button class="league__button">{{league.name}} Home Page</button>
		</a>
		<h2>Members</h2>
		<div class="league__list">
			<ul>
				<li data-ng-repeat="member in members">
					<a data-ng-href="#!/league/{{league._id}}/members/{{member._id}}">{{member.user_id.username}}</a>
				</li>
			</ul>
		</div>
	</div>
</section>
