<section data-ng-controller="LeagueController" data-ng-init="findUser();findLeagues();" class="league">
  <div class="league__header">
    <h1>Available Leagues</h1>
  </div>
  <div class="league__content">
    <div class="league__list">
      <ul>
    		<li data-ng-repeat="league in leagues">
    			<a data-ng-href="#!/league/{{league._id}}" data-ng-bind="league.name"></a>
    		</li>
    	</ul>
    </div>
    <a href="#!/league/create">
      <button class="league__button">
        Create New League
      </button>
    </a>
  </div>
</section>
