<section data-ng-controller="LeagueController" data-ng-init="findUser();findLeague();findMember();findShowdown();" class="league">
  User
  <br>
  {{user}}
  <hr>
  Showdown
  <br>
  {{showdown}}
  <hr>
  <div class="league__header">
    <h1>Week 1 Showdown</h1>
    <div class="showdown__header">
      <div class="showdown__header--user" ng-repeat="user in showdown.showdowns[0].competitors">
        <img src="assets/vendor/Ionicons/src/person.svg" alt="">
        <h3>{{user.user_id.username}}</h3>
      </div>
    </div>
  </div>
  <div class="league__content">
    <div class="showdown__picks">
      <h2>Picks</h2>
      <div class="showdown__picks--user">
        <!-- NG-Bind Picks -->
        <span>Points</span><span>Team</span>
      </div>
      <div class="showdown__picks--user">
        <span>Points</span><span>Team</span>
      </div>
    </div>
    <div class="showdown__games" ng-init="findGames();">
      <h2>Games</h2>
      <form action="" ng-submit="updateShowdown()">
        <div class="showdown__games--game">
          <h3>Game #</h3>
          <div class="showdown__games--team">
            <h3>Team 1 Name</h3>
          </div>
          <div class="showdown__games--team">
            <h3>Team 2 Name</h3>
          </div>
          <div class="showdown__games--details">
            <span>Location</span>
            <span>Date</span>
          </div>
        </div>
        <div class="showdown__games--picks">
          <div class="showdown__games--pick">
            <label for="home">Home Team</label>
            <input type="radio"
                   ng-model="pick" value="home"/>
          </div>
          <div class="showdown__games--pick">
            <label for="away">Away Team</label>
            <input type="radio"
                   ng-model="pick" value="away"/>
          </div>
        </div>
        <button type="submit">Submit Picks</button>
      </form>
    </div>
  </div>
</section>
