<% include partials/head.ejs %>
<% include partials/header.ejs %>
  <div class="chat">
    <h1>League Chat</h1>
    <div class="comment">
      <div class="comment-content">
        <h2><%= user.local.username %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
        <p class="comment-detail">Date or details about this post</p>
      </div>
    </div>
    <div class="comment">
      <div class="comment-content">
        <h2><%= user.local.username %></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
        <p class="comment-detail">Date or details about this post</p>
      </div>
    </div>
    <div class="message">
      <input type="text" name="chat" placeholder="Enter message here"/>
      <button type="submit" name="button">Submit</button>
    </div>
  </div>
<% include partials/footer.ejs %>
