<% include partials/head.ejs %>
<% include partials/header.ejs %>
  <% if(message > 0){ %>
    <span><%= message %></span>
  <% } %>
  <form action="/register" method="post" class="register">
    <input type="text" name="email" placeholder="Email" required autofocus />
    <input type="text" name="password" placeholder="Password" required />
    <button type="submit">Register</button>
  </form>
  <hr>
  <span>Already have an account? <a href="/login">Login</a></span>
<% include partials/footer.ejs %>
