    <% if(!isAuthenticated) {%>
    <footer class="footer" role="contentinfo">
      <div class="footer-wrapper">
        <ul>
          <li>
            <a href="/#!/">
              <i class="icon ion-home"></i>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="/auth/facebook">
              <span>Sign-In with <i class="icon ion-social-facebook"></i></span>
            </a>
          </li>
        </ul>
        <div class="footer-secondary-links">
          <ul>
            <li><a href="/"><span>Showdown Sports | &copy; Cory Wilson 2015</span>
            </a></li>
          </ul>
        </div>
      </div>
    </footer>
    <% } %>

    <script type="text/javascript" src="assets/vendor/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="assets/vendor/jquery-2.1.4.min/index.js"></script>

    <script type="text/javascript" src="assets/vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="assets/vendor/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="assets/vendor/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="assets/vendor/angular-moment/angular-moment.min.js"></script>

    <script type="text/javascript" src="assets/js/app/users/users.client.module.js"></script>
    <script type="text/javascript" src="assets/js/app/users/services/authentication.client.service.js"></script>

    <script type="text/javascript" src="assets/js/app/game/game.client.module.js"></script>
    <script type="text/javascript" src="assets/js/app/game/controllers/game.client.controller.js"></script>
    <script type="text/javascript" src="assets/js/app/game/services/game.client.service.js"></script>
    <script type="text/javascript" src="assets/js/app/game/routes/game.client.routes.js"></script>

    <script type="text/javascript" src="assets/js/app/app.js"></script>
    <script type="text/javascript" src="assets/js/main.min.js"></script>
  </body>
</html>
