    </div>
    <footer class="footer" role="contentinfo">
      <div class="footer-wrapper">
          <ul>
            <% if(!isAuthenticated) {%>
              <li>
                <a href="/#!/">
                  <i class="icon ion-home"></i>
                  <span>Home</span>
                </a>
              </li>
              <li>
                <a href="/sign-in">
                  <i class="icon ion-log-in"></i>
                  <span>Sign-In</span>
                </a>
              </li>
            <% } else { %>
              <li>
                <a href="/#!/pick">
                  <i class="icon ion-trophy"></i>
                  <span>Make Your Picks</span>
                </a></li>
              <li>
                <a href="/#!/leaderboard">
                  <i class="icon ion-ios-list"></i>
                  <span>Leaderboard</span>
                </a>
              </li>
              <li>
                <a href="/profile">
                  <i class="icon ion-person"></i>
                  <span>Profile</span>
                </a>
              </li>
            <% } %>
          </ul>

          <div class="footer-secondary-links">
            <ul>
              <li><a href="/"><span>Showdown Sports | &copy; Cory Wilson 2015</span>
              </a></li>
            </ul>
          </div>
      </div>
    </footer>

    <script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>

    <script type="text/javascript" src="assets/vendor/jquery-2.1.4.min/index.js"></script>
    <script type="text/javascript" src="assets/js/bundle.js"></script>

    <script type="text/javascript" src="assets/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="assets/vendor/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="assets/vendor/angular-resource/angular-resource.js"></script>

    <script type="text/javascript" src="assets/js/app/users/users.client.module.js"></script>
    <script type="text/javascript" src="assets/js/app/users/services/authentication.client.service.js"></script>
    <script type="text/javascript" src="assets/js/app/users/services/fb.client.service.js"></script>


    <script type="text/javascript" src="assets/js/app/index/index.client.module.js"></script>
    <script type="text/javascript" src="assets/js/app/index/controllers/index.client.controller.js"></script>
    <script type="text/javascript" src="assets/js/app/index/services/index.client.service.js"></script>
    <script type="text/javascript" src="assets/js/app/index/routes/index.client.routes.js"></script>

    <script type="text/javascript" src="assets/js/app/league/league.client.module.js"></script>
    <script type="text/javascript" src="assets/js/app/league/controllers/league.client.controller.js"></script>
    <script type="text/javascript" src="assets/js/app/league/services/league.client.service.js"></script>
    <script type="text/javascript" src="assets/js/app/league/services/api.client.service.js"></script>
    <script type="text/javascript" src="assets/js/app/league/services/users.client.service.js"></script>
    <script type="text/javascript" src="assets/js/app/league/routes/league.client.routes.js"></script>

    <script type="text/javascript" src="assets/js/app/app.js"></script>
  </body>
</html>
