<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : 177156945954815,
        xfbml      : true,
        version    : 'v2.5'
      });
    };

    (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <header>
    <div class="header__logo">
      <a href="/#!/" >
      Showdown Sports
      </a>
    </div>
    <div class="header__button">
      <% if(!isAuthenticated) {%>
        <a href="/auth/facebook">
          Sign-In with <i class="icon ion-social-facebook"></i>
        </a>
      <% } else { %>
        <a href="/logout">
          Logout <i class="icon ion-log-out"></i>
        </a>
      <% } %>
    </div>
  </header>
  <% if(isAuthenticated) {%>
    <nav role="navigation" class="nav" id="nav">
      <a href="/#!/game">
        <i class="icon ion-trophy"></i>
        <span>Weekly Picks</span>
      </a>
      <a href="/#!/leaderboard">
        <i class="icon ion-ios-list"></i>
        <span>Friend Leaderboard</span>
      </a>
      <a href="/#!/profile">
        <i class="icon ion-person"></i>
        <span>Your Profile</span>
      </a>
    </nav>
  <% } %>
