<body>
  <header role="banner">
    <div class="header__logo">
      <a href="/" class="nav-logo">
        <h1>Showdown Sports</h1>
      </a>
    </div>
    <nav role="navigation" class="nav-main">
      <ul>
        <% if(!isAuthenticated) {%>
          <li>
            <a href="/">
              <i class="icon ion-home"></i>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="/register-login">
              <i class="icon ion-log-in"></i>
              <span>Register/Login</span>
            </a>
          </li>
        <% } else { %>
          <li>
            <a href="/#!/league/">
              <i class="icon ion-trophy"></i>
              <span>Showdown</span>
            </a></li>
          <li>
            <a href="/#!/league">
              <i class="icon ion-ios-list"></i>
              <span>League</span>
            </a>
          </li>
          <li>
            <a href="/profile">
              <i class="icon ion-person"></i>
              <span>Profile</span>
            </a>
          </li>
          <li>
            <a href="/logout">
              <i class="icon ion-log-out"></i>
              <span>Logout</span>
            </a>
          </li>
        <% } %>
      </ul>
    </nav>
  </header>
  <div class="page-wrap">
