<body>
  <header role="banner">
    <div class="header__wrapper">
      <div class="header__logo">
        <a href="/#!/" class="header__logo--link">
          <h1>Showdown Sports</h1>
        </a>
      </div>
      <div class="header__nav--mobile">
        <i class="icon ion-navicon"></i>
      </div>
      <nav role="navigation" class="header__nav">
        <ul>
          <% if(!isAuthenticated) {%>
            <li>
              <a href="/#!/">
                <i class="icon ion-home"></i>
                <span>Home</span>
              </a>
            </li>
            <li>
              <a href="/auth/facebook">

                <span>Sign-In with <i class="icon ion-social-facebook"></i></span>
              </a>
            </li>
          <% } else { %>
            <li>
              <a href="/#!/game">
                <i class="icon ion-trophy"></i>
                <span>Make Your Picks</span>
              </a></li>
            <li>
              <a href="/#!/leaderboard">
                <i class="icon ion-ios-list"></i>
                <span>Leaderboard</span>
              </a>
            </li>
            <li>
              <a href="/profile">
                <i class="icon ion-person"></i>
                <span>Profile</span>
              </a>
            </li>
            <li>
              <a href="/logout">
                <i class="icon ion-log-out"></i>
                <span>Logout</span>
              </a>
            </li>
          <% } %>
        </ul>
      </nav>
    </div>
  </header>
  <div class="page-wrap">
