<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%= title %> | Showdown Sports</title>
  <link rel="stylesheet" href="assets/css/main.min.css">
</head>

<% include header.ejs %>
