<section data-ng-controller="WeeksController" data-ng-init="findUser()">

  <div data-ng-init="findWeek()">
		<h1>Edit Week</h1>
		<form data-ng-submit="update()" novalidate>

    <p data-ng-bind="week.weekNum"></p>

      <label for="weekNum">Select Week: </label>
      <select name="weekNum"
              data-ng-model="week.weekNum">
        <option value="">Select Week</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>

      <label for="games">Select Games:</label>
      <select data-ng-model="week.games"
      ng-options="game as game.awayTeamName+' vs. '+game.homeTeamName for game in week.games" multiple>
      </select>

      <button type="submit" name="button">
      Update Week</button>
      <div data-ng-show="error">
        <strong data-ng-bind="error"></strong>
      </div>
		</form>
	</div>

</section>
