<section data-ng-controller="WeeksController" data-ng-init="findUser()">
  <div data-ng-init="find()">
		<div class="container">
			<h1>Weeks</h1>
			<ul>
				<li data-ng-repeat="week in weeks">
					<a data-ng-href="#!/weeks/{{week._id}}" data-ng-bind="week.weekNum"></a>
          <ul>
            <li data-ng-repeat="game in week.games">
              {{game.homeTeamName || game.home}} vs. {{game.awayTeamName || game.away}}
            </li>
          </ul>
				</li>
			</ul>
			<div data-ng-hide="!weeks || weeks.length">
				No weeks yet, why don't you <a href="/#!/weeks/create">Create a Week</a>?
			</div>
		</div>
	</div>
</section>
