@import "../neat/neat-helpers";

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: 1200px;

//Screen Sizes
$mobile-size        : 640px;
$tablet-size        : 960px;
$desktop-size       : 1020px;
$large-desktop-size : 1200px;

//Neat Break Points
$mobile         : new-breakpoint(max-width $mobile-size,4);
$tablet         : new-breakpoint(max-width $tablet-size,8);
$desktop        : new-breakpoint(max-width $desktop-size,12);
$large-desktop  : new-breakpoint(max-width $desktop-size,16);
