header {
  background: $white;
  height: 4em;
  border-bottom: 3px solid $black;
}

.header__wrapper {
  @include outer-container;
  margin: 0 auto;
  overflow: hidden;
  @include media($tablet) {
    @include span-columns(8);
  }
}

.header__logo {
  margin: 0 1em;
  float: left;
}

.header__nav--mobile{
  display: none;
  @include media($mobile) {
    display: block;
  }
}

.header__nav {
  margin: .2em 0;
  ul {
    float: right;
    li {
      margin: 1em;
      display: block;
      float: left;
      a {
        line-height: 1.5;
        display: block;
        &:hover {
          color: $action-color;
          border-bottom: 3px solid $action-color;
        }
      }
    }
  }
}
