$li-width: 6em;
$li-height: 3em;

header {
  @include span-columns(3,block);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2em;
  margin-bottom: 1em;
  background: $white;
  border-bottom: 3px solid $black;
  @include media($medium-screen) {
    position: relative;
  }
}

.header__logo {
  h1 {
    font-size: $base-font-size;
  }
  height: $li-height;
  text-align:center;
  @include media($medium-screen) {
    h1 {
      font-size: $small-heading-font-size;
      padding: .5em 0;
    }
    @include span-columns(1 of 3);
    border-bottom: none;

  }
}

nav-main.a:nth-of-type(1) {
  border-left: 3px solid $black;
}

nav.nav-main{
  position: fixed;
  left: 0; bottom: 0; right: 0;
  background: $white;
  border-top: 3px solid $black;

  ul{
    @include span-columns(4, block);
    overflow: hidden;
    width: 100%;//$li-width*3;
    margin: 0 auto; padding: 0;
    list-style: none;
  }

  li{
    @include span-columns(1 of 4, collapse);
    // float: left;
    // width: $li-width;
  }

  a{
    display: block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    height: $li-height;
    line-height: $li-height;
    border-right: 3px solid $black;
    span {
      display: none;
    }

    &:hover{
      color: $yellow;
    }
  }
  @include media($medium-screen) {

    position: relative;
    @include span-columns(2 of 3);
    @include shift(1);
    border-top:none;
    background: none;
    a {
      height: $li-height - .1em;
      border: none;
      span {
        display: inline;
      }
    }
  }
}
