//File Name: ./dev/scss/base/_league.scss

.league {
  @include outer-container;
  margin: 2.2em auto;
  padding: 1em;
  width: 98%;
  background: $white;
  border-top: 3px solid $black;
  border-right: 3px solid $black;
  border-bottom: 3px solid $black;
  border-left: 3px solid $black;
}

.league__header {
  h1 {
    font-size: $small-heading-font-size;
    text-align: center;
  }
}

.league__content {
  h3 {
    text-align: center;
  }
}

.league__list {
  font-size: $base-font-size;
  ul {
    li {
      margin: .5em 0;
      padding: 0;
      a {
        &:hover {
          color: $yellow;
        }
      }
    }
  }
}

.league__results--league-home {
  width: 100%;
}
.league__list--league-home {
  width: 100%;
}

.league__button {
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.league__button--delete {
  &:hover {
    background: $red;
  }
}
