//File Name: ./dev/scss/base/_league.scss

.league {
  @include outer-container;
  margin: 3em auto;
  width: 95%;
  background: $nl-white;
  border-top: 3px solid $nl-black;
  border-right: 3px solid $nl-black;
  border-bottom: 3px solid $nl-black;
  border-left: 3px solid $nl-black;
}

.league__header {
  padding: 1em;
  h1 {
    text-align: center;
  }
}

.league__content {
  margin: 1em;
  h3 {
    text-align: center;
  }
}

.league__list {
  font-size: $small-heading-font-size;
  ul {
    li {
      margin: .5em 0;
      padding: 0;
      a {
        &:hover {
          color: $nl-yellow;
        }
      }
    }
  }
}

.league__results--league-home {
  @include span-columns(1 of 2);
}
.league__list--league-home {
  @include span-columns(1 of 2);
}

.league__button {
  display: block;
  margin: 2em auto;
  width: 60%;
}
.league__button--delete {
  &:hover {
    background: $nl-red;
  }
}
