nav {
  @include span-columns(4 of 16);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(stretch);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: $nav-background-color;
  color: $nav-font-color;
  border-right: $base-border;
  box-shadow: 2px 2px 4px darken($nav-background-color, 10%);

  @include media($tablet){
    @include span-columns(1 of 8, block-collapse);
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(stretch);
  }
}

nav > a {
  @include flex(1);
  font-family: $bold-font-family;
  font-size: $small-heading-font-size;
  padding-top: 4em;
  line-height: 1em;
  color: $nav-font-color;
  text-align: center;
  i {
    display: none;
  }
  &:hover, {
    background: $action-color;
    color: $base-font-color;
  }
  &:focus {
    background: shade($nav-background-color, 20%);
    color: shade($nav-font-color, 20%);
  }
  @include media($desktop){
    padding-top: 3em;
    line-height: 1em;
  }
  @include media($tablet){
    padding-top: 4em;
    i {
      display: block;
    }
    span {
      display: none;
    }
  }
}

nav > a{
  border-top: 3px solid $nav-font-color;
}
nav > a:first-of-type {
  border-top: none;
}


nav.open {

}
nav.close {

}
