.showdown__header {
  border-bottom: $base-border;
  overflow: hidden;
}

.showdown__header--user {
  @include span-columns(1 of 2);
  img {
    width: 200px;
    height: 200px;
    display: block;
    border: $base-border;
    border-radius: 100%;
    margin: 1em auto;
  }
  h3 {
    text-align: center;
    margin: 1em;
  }
}

.showdown__picks {
  border-bottom: $base-border;
  overflow: hidden;
}

.showdown__picks--user {
  @include span-columns(1 of 2);
}

.showdown__games {

}

.showdown__games--game {

}

.showdown__games--team {

}

.showdown__games--details {

}

.showdown__games--picks {
  .showdown__games--pick {
    @include span-columns(1 of 2);
  }
}

.showdown__games--points {
  display: none;
}
