.results {
  h3 {
    margin: 30px 0;
    text-align: center;
  }
}
.tables__full,
.tables__small {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

.tables__full {
  display: none;
}

@include media($medium-screen){
  .tables__small {
    display: none;
  }
  .tables__full {
    display: block;
  }
}

th {
  border-bottom: 1px solid shade($base-border-color, 25%);
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: center;
}

td {
  border-bottom: $base-border;
  padding: $small-spacing 0;
  text-align: center;
}

tr,
td,
th {
  vertical-align: middle;
}
