// Typography
$base-font-family    : 'noyh-regular',$helvetica;
$black-font-family   : 'noyh-black',$helvetica;
$bold-font-family    : 'noyh-bold',$helvetica;
$light-font-family   : 'noyh-light',$helvetica;
$italic-font-family  : 'noyh-italic',$helvetica;

// Font Sizes
$small-font-size         : modular-scale(-1);
$base-font-size          : modular-scale(1);
$small-heading-font-size : modular-scale(2);
$large-heading-font-size : modular-scale(3);
$huge-font-size          : modular-scale(4);

// Line height
$base-line-height    : 1.5;
$heading-line-height : 1.2;

// Other Sizes
$base-spacing       : $base-line-height * 1em;
$small-spacing      : $base-spacing / 2;
$base-z-index       : 0;

//Color Pallet
$light-blue: #0451AA;
$blue: #02326B;
$dark-blue: #03142B;
$green: #3B6058;
$white: #FEFFFE;
$black: #060D19;
$red: #832232;
$yellow: #FFCC33;
$gray-dark: #303949;
$gray: tint($gray-dark, 50%);
$gray-light: tint($gray-dark, 75%);
$facebook-blue: #3B5999;
$twitter-blue: #55ACEE;

// Font Colors
$base-font-color      : $black;
$nav-font-color       : $white;

//Colors
$action-color         : $light-blue;
$pick-color           : $green;

//Background Colors
$base-background-color     : $white;
$nav-background-color      : $blue;
$block-background-color    : $gray-dark;
$header-background-color   : $blue;
$partials-background-color : shade($white, 5%);
$content-background-color  : $white;
$game-background-color     : shade($white, 10%);

// Border
$base-border-color : $black;
$base-border       : 3px solid $base-border-color;
$box-shadow-color  : $gray-dark;

//Background Images
$hero-bg-image : '../images/stock/football.jpg';

// Animations
$base-duration : 150ms;
$base-timing   : ease;
