// Typography
$base-font-family    : 'noyh-regular',$helvetica;
$black-font-family   : 'noyh-black',$helvetica;
$bold-font-family    : 'noyh-bold',$helvetica;
$light-font-family   : 'noyh-light',$helvetica;
$italic-font-family  : 'noyh-italic',$helvetica;

// Font Sizes
$small-font-size         : modular-scale(-1);
$base-font-size          : modular-scale(1);
$small-heading-font-size : modular-scale(2);
$large-heading-font-size : modular-scale(3);
$huge-font-size          : modular-scale(4);

// Line height
$base-line-height    : 1.5;
$heading-line-height : 1.2;

// Other Sizes
$base-spacing       : $base-line-height * 1em;
$small-spacing      : $base-spacing / 2;
$base-z-index       : 0;

//Color Pallet
$blue: #14ABE3; //rgba(20, 171, 227, 100)
$white: #F5F4F3; //rgba(245, 244, 243, 100)
$black: #1B2021; //rgba(27, 32, 33, 100)
$red: #F1231E; //rgba(241, 35, 30, 100)
$yellow: #FFCC33; //rgba(255, 204, 51, 100)
$gray-dark: #3C3C3C; //rgba(0, 0, 24, 100)
$gray: tint($gray-dark, 50%);
$gray-light: tint($gray-dark, 75%);
$facebook-blue: #3B5999;
$twitter-blue: #55ACEE;

// Font Colors
$base-font-color      : $black;
$secondary-font-color : $white;
$action-color         : $yellow;

//Background Colors
$base-background-color     : $gray-light;
$block-background-color    : $gray-dark;
$partials-background-color : $white;
$content-background-color  : $white;

// Border
$base-border-color : $black;
$base-border       : 3px solid $base-border-color;

// Background Colors
$base-background-color      : $white;

//Background Images
$hero-bg-image : '../images/stock/football-crowd.jpg';

// Animations
$base-duration : 150ms;
$base-timing   : ease;
