<% include partials/subHead.ejs %>
  <h1>Add Local Login</h1>
  <form action="/connect/local" method="post" class="register">
		<input type="email" name="email" placeholder="Email" required autofocus />
		<input type="password" name="password" placeholder="Password" required />
		<button type="submit">Add Local Login</button>
	</form>
  <hr>
  <span><a href="/profile">Back to Profile</a></span>

<% include partials/subFooter.ejs %>
