<% include partials/head.ejs %>

  <%# <div class="hero">
  	<div class="hero-inner">
      <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
  " alt="Logo Image"></a>
  		<div class="hero-copy">
  			<h1>Showdown Sports</h1>
  			<p>Play Showdown Sports today with your friends. Find out who knows the most about sports.</p>
  		</div>
  	</div>
  </div>
  <div class="grid-items-lines">
    <a href="javascript:void(0)" class="grid-item">
      <h1>Play with up to sixteen other friends!</h1>
      <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <h1>Choose your favorite sports!</h1>
      <p>Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <h1>Define your season length!</h1>
      <p>Lorem ipsum dolor sit amet, elit.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <h1>Play someone new weekly!</h1>
      <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <h1>Reach the top of the table!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
    </a>
    <a href="javascript:void(0)" class="grid-item">
      <h1>Earn bragging rights!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
    </a>
  </div>%>

  <section ng-view class="commissioner-panel"></section>

<% include partials/footer.ejs %>
