<% include partials/head.ejs %>

  <form action="/login" method="post" class="register">
    <input type="email" name="email" placeholder="Email" required autofocus />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Login</button>
  </form>
  <div class="cards">
    <div class="facebook card">
      Login or Register with:<a href="/auth/facebook">Facebook</a>
    </div>
    <div class="twitter card">
      Login or Register with:<a href="/auth/twitter">Twitter</a>
    </div>
    <div class="local card">
      Need an account? <a href="/register">Register</a>
    </div>
  </div>

<% include partials/footer.ejs %>
