<% include partials/head.ejs %>

  <form action="/login" method="post" class="register">
    <input type="email" name="email" placeholder="Email" required autofocus />
    <input type="password" name="password" placeholder="password" required />
    <button type="submit">Login</button>
  </form>
  <hr>
  <span>Login or Register with:<a href="/auth/facebook">Facebook</a></span>
  <hr>
  <span>Login or Register with:<a href="/auth/twitter">Twitter</a></span>
  <hr>
  <span>Need an account? <a href="/register">Register</a></span>

<% include partials/footer.ejs %>
