<% include partials/head.ejs %>

  <% if(message > 0){ %>
    <span><%= message %></span>
  <% } %>
  <form action="/login" method="post" class="register">
    <input type="email" name="email" placeholder="Email" required autofocus />
    <input type="password" name="password" placeholder="password" required />
    <button type="submit">Login</button>
  </form>
  <hr>
  <span>Need an account? <a href="/register">Register</a></span>
  
<% include partials/footer.ejs %>
