<% include partials/head.ejs %>

  <form class="" action="/showdowns" method="post">
    <button type="submit" name="button">
      Create Showdown
    </button>
  </form>

  <form class="" action="/showdowns/pairings" method="post">
    <button type="submit" name="button">
      Create Pairings
    </button>
  </form>


  <a href="/showdowns/pairings">List Pairings</a>

<% include partials/footer.ejs %>
